{% extends 'base.html' %}

{% block content %}
{% load static %}
<!-- Cotent Over Here -->



<section class="about" id="about">

    <h1 class="heading"> <span> About Us</span></h1>

    <div class="row">

        <div class="video-container">
            <video src="/static/Images/about-vid.mp4" loop autoplay muted></video>
            <h3> best flower sellers</h3>
        </div>

        <div class="content">
            <h3> Why choose Us?</h3>
            <p>A paragraph is a series of related sentences developing a central idea, called the topic. Try to
                think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group of sentences
                that supports one central, unified idea. Paragraphs add one idea at a time to your broader argument.
            </p>

            <p>A paragraph is a series of related sentences developing a central idea, called the topic. Try to
                think about paragraphs in terms of thematic unity:
            </p>

            
        </div>
</section>

{% endblock %}